.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding-top: 200px;
    position: relative;
    margin-left: auto;
}
img{
    width: 50%;
    height: 50%;
    margin-top: -50%;
    margin-left: 80%;
}
.sectionOne {
    width: 50%;
    margin: 50px;
    margin-top: 5%;
    
}
.sectionTwo {
    width: 50%;
    position: relative;
    
}
button{
    background-color: lightblue;
    color: white;
    padding: 1px;
    margin-top: 3px;
    border-radius: 2rem;
   
}